body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #e66465, #9198e5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(4, 58, 52);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
}
h1{
    color: #2c3e50;
    display: block;
}
p{
    font-size: 25px;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
#startbtn{
    background-color: black;
    color: chartreuse;
}
#startbtn:hover{
    background-color: rgb(49, 49, 49);
}
#stopbtn{
    background-color: black;
    color: red;
    display: none;
}
#stopbtn:hover{
    background-color: rgb(49, 49, 49);
}

#transcribebtn{
    background-color: #9198e5;
    color: white;
}

#transcribebtn:hover{
    background-color: #b0b5e2;
    cursor: pointer;
}

.recording {
    color: greenyellow; 
    font-weight: bold;
}

#status {
    margin: 20px 0;
    font-size: 18px;
    min-height: 24px;
}

#preview {
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
}

#transcript{
    margin: 40px;
    padding: 20px;
    background: #ecf0f1;
    border-radius: 15px;
    font-size: 20px;
    white-space: pre-wrap;
    display: none;
}